<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			<% if (author) {%> <%= author.name %> <% } else {%> Author not found <%
			}%>
		</title>
	</head>
	<body>
		<% if (author) {%>
		<h1><%= author.name %></h1>
		<% if (books) {%>
		<h2>List of books written by <%= author.name %></h2>
		<ul>
			<% books.forEach((book) => {%>
			<li>
				<a href="/books/<%= book.id%>"><%= book.title %></a> | <%=
				book.publication_year %> | <%= book.genre_name %>
			</li>
			<% }) %>
		</ul>
		<%} else {%>
		<h2>There are no books from this author.</h2>
		<%}%> <% } else {%>
		<h1>Author not found.</h1>
		<% } %>
		<a href="/authors">Return to authors</a>
	</body>
</html>
